<p id="notice"><%= notice %></p>

<h1>Listing Drunk Levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drunk_levels.each do |drunk_level| %>
      <tr>
        <td><%= drunk_level.name %></td>
        <td><%= drunk_level.description %></td>
        <td><%= drunk_level.icon %></td>
        <td><%= link_to 'Show', drunk_level %></td>
        <td><%= link_to 'Edit', edit_drunk_level_path(drunk_level) %></td>
        <td><%= link_to 'Destroy', drunk_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drunk level', new_drunk_level_path %>
