<p id="notice"><%= notice %></p>

<p>
  <strong>Hashtag:</strong>
  <%= @picture.hashtag %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @picture.image_url %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
